body {
	box-sizing: border-box;
	background:  #4c93bd;
	max-width: 700px;
	height: 700px;
	margin: 2px auto;
	font-family: 'Kanit', sans-serif;
	font-weight: 600;
	font-color: #002699;
}
h1 {
	margin: 0px 0px 5px 0px;
	padding: 0px;
	line-height: 1;
	font-size: 60px;
	text-align: center;
	color: #ccf5ff;
}
h2 {
	color: #7FFF00;
}
h3 {
	color:  #ff4d4d;
}
h3#start {
	clear: both;
	display: inline;
	color: #002699;
}
h3#directions {
	clear: both;
	display: none;
	font-color: #002699;
}
div#left {
	position: absolute;
	top: 0px;
	left: 60px;
	font-weight: 700;
	white-space: nowrap;
	display: none;
	font-color: #002699;
	

}
div#right {
	position: absolute;
	top: 0px;
	left: 85px;
	font-weight: 700;
	white-space: nowrap;
	display:none;
	font-color: #002699;
	
}
.mybtn {
	
}
#nextpick {
	color: red;
	display: none;
	animation-name: attention;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-duration: 0.5s;


}
.mybackground {
	width: 100%;
	border-color: grey;
	border-radius: 25px;
	font-size: 24px;
	color: black;
	background-image: url(../images/x-wing2.jpeg);
	background-repeat: no-repeat;
	margin: 10px;
	padding: 50px;
}
.mychar {
	float: left;
}
.myemeny {
	float: right;
}
.characters {
	height: 100%;
	margin: 5px;
	font-size: 10px;
	font-family: sans-serif;
}
.myimgstart {
	border-style: solid;
	border-color: green;

}
.cbutton {
	box-sizing: border-box;
	height: 100px;
	width: 100px;
	overflow-wrap: auto;
	outline-style: none;
	padding: 5px;
	font-size: 13px;
	margin-right: 20px;
	background-color: white;
	border-radius: 15px;
}
.enemy {
	box-sizing: border-box;
	height: 100px;
	width: 100px;
	overflow-wrap: auto;
	outline-style: none;
	padding: 5px;
	font-size: 13px;
	margin-right: 20px;
	background-color: red;
	border-radius: 15px;
}
.characters > #Luke {
	display: inline;
}
.characters > #ObiWan {
	display: inline;
}
.characters > #DarthVader {
	display: inline;
}
.characters > #DarthMaul {
	display: inline;
}
.myenemies > #luke1 {
	display: none;
}
.myenemies > #obiwan1 {
	display: none;
}
.myenemies > #darthvader1 {
	display: none;
}
.myenemies > #darthmaul1 {
	display: none;
}
.mychar > #luke2 {
	display: none;
}
.mychar > #obiwan2 {
	display: none;
}
.mychar > #darthvader2 {
	display: none;
}
.mychar > #darthmaul2 {
	display: none;
}
.myenemy > #luke3 {
	display: none;
}
.myenemy > #obiwan3 {
	display: none;
}
.myenemy > #darthvader3 {
	display: none;
}
.myenemy > #darthmaul3 {
	display: none;
}
.champ {
	box-sizing: border-box;
	height: 100px;
	width: 100px;
	overflow-wrap: auto;
	outline-style: none;
	padding: 5px;
	font-size: 13px;
	margin-right: 20px;
	background-color: green;
	border-radius: 15px;
	animation-name: champion;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-duration: 1s;
}
.defender {
	box-sizing: border-box;
	height: 100px;
	width: 100px;
	overflow-wrap: auto;
	outline-style: none;
	padding: 5px;
	font-size: 13px;
	margin-right: 20px;
	background-color: red;
	border-radius: 15px;
	animation-name: challenger;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-duration: 1s;
}
img#luke {
	height: 60px;
	width: 60px;
}
@keyframes champion {
	from {background-color: green;}
	to {background-color: #b3d9ff;}
}
@keyframes challenger {
	from {background-color: #ff0000;}
	to { background-color: #ff9f80;}
}
@keyframes attention {
	from {color: #ff0000;}
	to{color: #000099;}
}
